<%= form_tag password_resets_path, :method => :post, :class => "form-horizontal" do %>
  <div class="control-group"> 
    <%= label_tag :email, nil, :class => "control-label"%>
    <%= text_field_tag :email, nil, :class => "input-xlarge"%> 
  </div>
  
  <div class="form-actions" id ="botones"> 
    <%= submit_tag "Reset my password", :class => "btn btn-primary" %>
  </div>
<% end %>